/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/


.ToDoList {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(#3498db, #8e44ad);
    font-family: sans-serif;
    color: #121212;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 50px 40px 50px;
    background-color: white;
    width: 50vh;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.3);

}

h3 {
    margin: 0px;
    font-size: 1.7rem;
    color: #121212;
}

.description {
    font-size: 14px;
    text-align: center;
    color: #121212;
    margin-bottom: 20px;

}


/* INPUT */
input {
    border: none;
    background: none;
    font-size: 18px;
    width: 100%;


}

input:focus {
    outline: none
}

button.addTask_btn {
    border: none;
    background-color: blue;
    padding: 10px;
    border-radius: 100%;
    cursor:pointer;
}

.addTask_btn {
    border: none;
    background-color: blue;
    padding: 10px;
    border-radius: 100%;
    cursor:pointer;
    transition: all 0.3s;
}

.addTask_btn:hover {
    transform: scale(1.1);
  
}
.addTask_btn:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
    transform:none;
   
   }


.InputTask {
    background-color: #f2f5f7;
    border: 1px solid rgb(0, 0, 255);
    border-radius: 100px;
    width: 100%;
    padding: 5px 5px 5px 20px;
    display: flex;
    justify-content: space-between;


}




.iconAdd {
    color: white;
    font-size: 1.5rem;

}

.iconCheck {
    font-size: 1.5rem;


}

button.checkBox {

    background: none;
    border: none;
    cursor: pointer;

}

.checkBox:hover {
    color: green;
    transform: scale(1.2);
    transition: all 0.2s;
}



/* TASK LIST */

ul {
    list-style-type: none;
    padding: 0px;



}

li.noItems {
    text-align: center;
    color: lightgray;
    padding: 15px;
    font-style: italic;
    font-weight: 300;
}

li.elemList {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom:1px solid #d8d8d8;
    text-align: left;
    font-size: 18px;
    gap: 20px;
    color: #121212;
}

.TaskList {

    width: 100%;

}

input.EditTaskText {
    text-align: center;
    color: darkgray;
}

.TaskCounter {
    color: gray;
    font-size: 14px;
}

.left {
    display: flex;
    gap: 10px;
}

.text span {

    overflow-wrap: break-word;
    word-break: break-all;

    /* Asegúrate de que el texto tenga espacio para crecer hacia abajo
    flex: 1; 
    min-width: 0; 
    padding: 0 10px; */
}





/* DELETE */
.iconDelete {
    color: #121212;
    font-size: 1.5rem;
}

.elemList:hover .delete-btn {
    opacity: 1;
}

.delete-btn:hover .iconDelete {
    color: #e74c3c;
    transform: scale(1.2);
    transition: all 0.2s;
}

button.delete-btn {
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 10px;
}